<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>duan1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
		/admin/news/libararies/ckfinder/core/connector/java/connector.java
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminForgotPasswordController</servlet-name>
    <servlet-class>controller.AdminForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForgotPasswordController</servlet-name>
    <url-pattern>/admin/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentCap1Controller</servlet-name>
    <servlet-class>controller.AdminIndexCommentCap1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentCap1Controller</servlet-name>
    <url-pattern>/admin/cmt_level1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentCap2Controller</servlet-name>
    <servlet-class>controller.AdminIndexCommentCap2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentCap2Controller</servlet-name>
    <url-pattern>/admin/cmt_level2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChartController</servlet-name>
    <servlet-class>controller.AdminChartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChartController</servlet-name>
    <url-pattern>/admin/chart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCardController</servlet-name>
    <servlet-class>controller.AdminCardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCardController</servlet-name>
    <url-pattern>/admin/cards</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminNavbarController</servlet-name>
    <servlet-class>controller.AdminNavbarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNavbarController</servlet-name>
    <url-pattern>/admin/navbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentController</servlet-name>
    <servlet-class>controller.AdminDelCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentController</servlet-name>
    <url-pattern>/admin/cmt_level1/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentLevel2Controller</servlet-name>
    <servlet-class>controller.AdminDelCommentLevel2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentLevel2Controller</servlet-name>
    <url-pattern>/admin/cmt_level2/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentChangeController</servlet-name>
    <servlet-class>controller.AdminCommentChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentChangeController</servlet-name>
    <url-pattern>/admin/cmt/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexCatController</servlet-name>
    <servlet-class>controller.PublicIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicErrorController</servlet-name>
    <servlet-class>controller.PublicErrorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicErrorController</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <servlet-class>controller.PublicIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexNewsController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAddCommentController</servlet-name>
    <servlet-class>controller.PublicAddCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAddCommentController</servlet-name>
    <url-pattern>/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSubcribeController</servlet-name>
    <servlet-class>controller.PublicSubcribeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSubcribeController</servlet-name>
    <url-pattern>/subcribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexMessageController</servlet-name>
    <servlet-class>controller.AdminIndexMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexMessageController</servlet-name>
    <url-pattern>/admin/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMessageForgotPasswordController</servlet-name>
    <servlet-class>controller.AdminMessageForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMessageForgotPasswordController</servlet-name>
    <url-pattern>/admin/message/forgot</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>